  /* Estilos del mensaje flotante */
  .floating-message {
    position:fixed;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(1, 161, 89);
    color: #f6f6f6;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Transición INICIAL de opacidad */
}

.floating-message.show {
    opacity: 1; /* Mostrar el mensaje */
}

.floating-message.hide {
    opacity: 0; /* Ocultar el mensaje */
}